:root{
  --bc: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.prop{
  display:flex;
}

.warm{
  background-color: rgb(255, 213, 0);
}
.cold{
  background-color: rgb(0, 89, 255);
}

#back-btn{
  float:right;
  margin-right:10px;
  background-color:var(--bc);
  background-image: url('');
  border-radius: 4px;;
}

.card{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left:40px;
}

.images>img{
height: 20rem;
width: 100vw;
object-fit: fill;

}

.card-content{
  background-color: rgb(22, 143, 115);
  align-items: start;
  display: flex;
  height: max-content;
  width:fit-content;
  margin-left:10px;
  box-sizing: border-box;
  box-shadow: #282c34;
  border-radius: 10px;
}

.card-content icon{
  float:left;
}

.card-content details{
  float:right;
}

#para-header{
  font-style: italic;
  background-color: rgb(41, 194, 194);
  margin-left: 10px;
  border-radius: 2px;
  padding: 2px;
}
.header{
  /* margin-left: 10px; */
  background-color: black;
  color:white;
  padding-bottom: 10px;;
}

#name{
  display: flex;
  justify-content: center;
}

#link{
  display:flex;
  justify-content: center;
  text-decoration: none;
}
.row{
  margin-left: 10px;
}

#header{
  background-color: black;
  color:white;
}

.error-display{
  background-color: rgba(227, 67, 67, 0.5);
}

#card-header{
  background-color: black;
  color:white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
